*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.container{
    max-width: 1199px;
    margin: auto;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content li{
    display: inline;
    padding: 0 15px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


nav li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a span {
    display: inline-block;
    transition: all 1s;
    font-size: 15px;
}

a:hover {
    color: #f55f8d;
}

a:hover span {
    animation: upToDown 0.3s;
}

nav li i{
    margin: 0 3px;
    font-size: 10px;
}

nav{
    display: flex;
    padding: 50px 0;
}

.gradient{
    padding: 20px 35px;
    border: none;
    background-image: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 30px;
    color: white;
    transition: all 0.5s;
    background-size: 200%;
    cursor: pointer;
    font-size: 15px;
}

.gradient:hover {
    background-position: right center;
}

/* start carousel */
.carousel{
    overflow: hidden;
    background-image: url(./image/pic2.png);
    background-position: top;
    background-size: 100%;
    position: relative;
    padding-top: 180px;
}

.carousel_content{
    display: flex;
    align-items: center;
    width: 100%;
}

.article{
    color: #636363;
}

.article p {
    font-size: 18px;
}

.article li{
    list-style: none;
    font-size: 20px;
}

.article li i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.carousel_left{
    width: 60%;
}

.carousel_left li{
    padding: 10px 5px 10px 0;
}

.carousel ul{
    padding: 20px 0;
}

.title p{
    margin: 0 0 20px;
    color: #f55f8d;
    font-weight: 600;
    font-size: 22px;
}

.title h1{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.carousel_right{
    width: 40%;
}

.carousel_image{
    margin-left: 50px;
}

/* start services */
.services{
    padding-top: 115px;
    background-image: url(./image/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.services_item img{
    width: 215px;
}

.services_item h2{
    padding: 15px;
}

.services_content{
    display: flex;
    width: 100%;
}

.services_item{
    margin: 15px;
    --column: 3;
    width: calc(100% / var(--column));
    padding: 30px 45px;
    background-color: #ffffff;
    color: #636363;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all 0.5s;
}

.services_item:hover{
    transform: translateY(-20px);
    border-image: url(./image/br.png) 1 round;
}
/* start about */
.about{
    padding-top: 115px;
    background-image: url(./image/bg15.png);
}


.about_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.about_left{
    top: 20%;
    left: -17%;
    width: 60%;
    position: absolute;
}

.about_left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about_right{
    width: 50%;
}

.about_right ul{
    list-style: none;
    color: #f55f8d;
}

.about_right ul{
    margin: 30px 0;
}

.about_right li{
    padding: 10px 0;
}

.about_right i {
    font-size: 25px;
    padding: 0 5px;
}

/* start number */
.number{
    margin-top: 100px;
    background-image: url(./image/bg14.png);
    padding: 80px 0 50px
}

.number_content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.number_item{
    width: 25%;
}

.number_item i{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border-radius: 50%;
    font-size: 45px;
    background-size: 200%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    padding: 15px 20px;
}

.number_item p:first-of-type {
    margin-top: 15px;
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

/* start features */
.features{
    padding-top: 115px;
    background-image: url(./image/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}

.features_content{
    display: flex;
}

.features_left, .features_right{
    width: 50%;
}

.title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.features_item{
    padding: 0 50px 30px 0;
}

.features_bg{
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features_bg::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.features_bg:hover::after {
    opacity: 1;
    transition: all 1s;
}

.features_bg:hover {
    color: white;
    transition: 1s;
}

.features_bg:hover i{
    color: white;
    transition: 1s;
}

.features_item i{
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
}

.features_item div {
    padding-left: 25px;
    z-index: 1;
}

.features_item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}

.features_banner {
    margin-right: -80px;
}

.features__banner img {
    max-width: 110%;
    animation: move2 5s infinite;
}

/* Start Portfolio */
.portfolio{
    padding-top: 115px;
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}

.portfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio_item1 {
    grid-column: 1 / span 2;
}

.portfolio_item5 {
    grid-column: 1 / span 2;
}

.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.75s;
}

.portfolio_overlay:hover {
    opacity: 1;
}

.portfolio_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;
}

.portfolio_icon i {
    color: #fff;
}

.portfolio_overlay:hover .portfolio_icon,
.portfolio_overlay:hover .portfolio_text{
    transform: translate(0);
}

.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
    color: white;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio_item:hover::before {
    left: 125%;
}

/* start blog */
.blog{
    padding-top: 115px;
    background-image: url(./image/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.blog_item {
    text-align: left;
    background: rgba(245, 95, 141, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.blog_header {
    position: relative;
}

.blog_header img {
    border-radius: 8px;
}

.blog_header p {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog_footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_footer p:first-of-type {
    margin-right: 20px;
}

.blog_footer p:first-of-type span {
    color: #f55f8d;
}

.blog_footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

/* start footer  */
footer {
    background-image: url(./image/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
    padding-top: 35px;
}

footer::before {
    content: "";
    background-image: url(./image/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(./image/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    position: relative;
}

.footer_text h2 {
    font-size: 28px;
    color: #262626;
}

.footer_text,
.footer_form {
    width: 50%;
}

.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}

.footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
    transition: all .5s;
}

.footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer_bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer_item {
    width: 25%;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer_item h3::before {
    width: 15px;
}

.footer_item h3::after {
    width: 45px;
    margin-left: 20px;
}

.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

li {
    list-style: none;
    padding: 8px 0;

}

.footer_item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    text-decoration: none;
}

.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_left span {
    color: #f55f8d;
}

.footer_copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
}

/* backToTop  */
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

#backtop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    cursor: pointer
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}